#page-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
}

#div-page-header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#nome-page{
    font-size: 30px;
    margin: 1;
}

#description-page{
    color:#9CA3AF;
    font-weight: normal;
}

#article-page-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background-color: black;
    border-radius: 10px;
}

#page-img{
    width: 20px;
    height: 20px;

    filter: brightness(0) invert(1);
}