#role-filter-section{
    display: flex;
    justify-content: start;
    align-items: center;

    width: 99%;
    height: 70px;
    padding: 10px;

    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filter-icon{
    width: 5%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../../assets/images/icons/filter.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 35%;
    background-position: center;
}

#filters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 70%;
    gap: 10px;
}

#filters input {
    width: 20%;
    height: 45px;
}

#filters button {
    width: 15%;
    height: 45px;
}

#actions-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 25%;
}

#actions-filter button {
    width: 45%;
    height: 45px;
}

#actions-filter button:nth-child(1) {
    background-color: 	#3B82F6;
    color: white;
}

#actions-filter button:nth-child(2) {
    background-color: #dc143c;
    color: white;
}

#filters input:nth-child(1) {
    width: 9%;
}

#filters input:nth-child(5) {
    width: 13%;
}