#div-dashboard-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 100vh; 
}

/* Sidebar ABERTO por padrão */
#aba-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 25%; /* Sidebar já aberto */
    height: 100vh; 

    background-color: blue;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

/* Sidebar FECHADO */
#aba-sidebar.closed {
    width: 0; /* Quando fechado, some */
}

/* Dashboard padrão quando o sidebar está aberto */
#aba-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%; /* Ocupa 75% da tela quando o sidebar está aberto */
    height: 100vh; 
    transition: width 0.3s ease-in-out;
}

/* Quando o sidebar está fechado, o dashboard ocupa 100% */
#aba-sidebar.closed + #aba-dashboard {
    width: 100%;
}

#main-dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: #F2EDF3;

    overflow-y: auto; 
    padding: 0.5rem; 
}

h1 {
    color: black;
}
