#button-bell-component {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    border: none;
    outline: none; 
    background-color: transparent;
    background-image: url("../../../assets/images/icons/bell.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border-radius: 4px; 
    transition: all 0.2s ease;
}

#button-bell-component:hover {
    background-color: #EDEDED; 
}

#button-bell-component:active {
    transform: scale(0.95); 
}