#button-login{
    width: 85%;
    height: 50px;
  
    border-radius: 8px;
    border: 1px solid;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
  }

#button-login:hover {
    background-color: #121212; 
  }

#button-login:active {
    background-color: #0a0a0a; 
    transform: translateY(1px); 
  }