#button-edit-component {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    border: none;
    outline: none; 
    background-color: transparent;
    background-image: url("../../../assets/images/icons/eye.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}

#button-edit-component:hover {
    background-color: #EDEDED;
}

#button-edit-component:active {
    transform: scale(0.95); 
}
