.input-form{
    width: 85%;
    height: 55px;
  
    border-radius: 8px;
    border: 1px solid #6A7179;
  
    font-size: 1rem;
    font-family: inherit;
    padding-left: 15px;
    background-color: transparent;
    color: black;
}

.input-form::placeholder{
color: #1a1a1a;
font-size: 1rem;
font-family: inherit;
}
