#roles-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
}

#main-role-add-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    width: 98%;
    box-sizing: border-box;

    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#role-add-action-page{
    font-weight: 400;
    padding: 15px;
    color: #333;
    margin: 0;
}

#div-inputs-role-add {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    width: 100%;
}

#div-inputs-role-add input {
    width: 97%;
    margin: 1%;

}

#div-inputs-role-add input:nth-of-type(1){
}

#div-inputs-role-add input:nth-of-type(2) {
    height: 150px;
    padding-bottom: 100px;
}

#div-buttons-role-add {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#div-buttons-role-add button {
    width: 15%;
    margin-right: 1%;
}

#main-role-add-page .error-message {
    width: 97%;
    margin: 1%;
}