#main-role-add-page {
    display: flex;
    flex-direction: column;
    margin: auto;

    width: 98%;
    height: 100%;
    box-sizing: border-box;

    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#roles-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;
    flex-shrink: 0;
    box-sizing: border-box;
}